<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Contact</title>
		<meta name="description" content="" />
	</head>
	<body>
{% include 'navbar.html' %}
{% block content %}
<center>
<br>
    <h1 class="title">Apply for job - {{ job.title }}</h1>
    

    <form method="post" action=".">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-primary" type="submit" value="apply">
        	
{% endblock %}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</body>
</html>