<!DOCTYPE html>
{% extends 'main.html'%}
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="" />
		
	</head>
	<body>		
		{% block content %}
        {% include 'navbar.html' %}

		{% if user.is_authenticated %}
			<div class="card bg-transparent text-center">
				<div class="container-fluid">
					<form action="" method="post" style="width: 50vw; margin-left: 25vw">
						{% csrf_token %}
						<h5>Email:</h5>
						{{ form.email }}
						<h5>Title:</h5>
						{{ form.title }}
						<h5>Message:</h5>
						{{ form.message }} <br />
						<button class="btn btn-primary" type="submit">Send</button>
					</form>
				</div>
			</div>
		{% else %}
		<br><br><br>
			<center><h3>Sorry, you have to be logged in to contact with us. <br> Please, logged in or register.</h3><br>
			<a href="{% url 'loginPage' %}">
			<button class="btn btn-primary" type="submit">Login</button></a>
			<a href="{% url 'register' %}">
			<button class="btn btn-primary" type="submit">Register</button></a>
		</center>
		{% endif %}

		{% endblock %}
		
	</body>
</html>