{% extends 'main.html' %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles/jobs.css'%}" />
    </head>
<body>
{% block content %}
{% include 'navbar.html' %}
{% static 'images' as baseUrl %}

    <div class="container py-4 my-4 mx-auto d-flex flex-column">
        <div class="header">
            <div class="row r1">
                <div class="col-md-9 abc">
                    <h1>{{ job.title }} </h1>
                </div>
            </div>
        </div>
        <div class="container-body mt-4">
            <div class="row r3">
                <div class="col-md-5 p-0 klo">
                    <ul>
                        <li>Company: {{ job.company }}</li>
                        <li>Category: {{ job.get_category_display }}</li>
                        <li>Job Type: {{ job.jobType}}</li>
                        <li>Category: {{ job.category }}</li>
                        <li>Contract type: {{ job.contractType }}</li>
                        <li>Experience: {{ job.experience }}</li>
                        <li>Programming language: {{job.proglanguage}}</li>
                        <li>Place: {{ job.place }}</li>
                        <li>Salary: {{ job.salary }}$</li>
                        <li>Description: {{ job.description|safe }}</li>
                    </ul>
                </div>
                <div class="col-md-7"> <img src="https://cdn.pixabay.com/photo/2015/09/04/23/28/wordpress-923188_960_720.jpg" alt="Job" width="90%" height="95%"> </div>
            </div>
        </div>
        <div class="footer d-flex flex-column mt-5">
            <div class="row r4">
                           
                <div class="col-md-2 mio offset-md-4">
                   <a type="button" class="btn btn-outline-info" href="{% url 'jobs' %}">Back to all jobs</a></div>
                    {% if user.is_authenticated %}
                <div class="col-md-2 myt ">
                   <a type="button" class="btn btn-outline-info" href="{% url 'application' job.id %}">Apply for job</a></div>
                    {% else %}
                    <div class="col-md-2 myt ">
                   <a type="button" class="btn btn-outline-info" href="{% url 'loginPage' %}">Log in to apply</a></div>
                    {% endif %}
            </div>
            <br>
            <h6>Published: {{job.published}}</h6>
        </div>
        <br>
        {% if user.is_authenticated and useraccount.id == job.useraccount.id %}
    
           <hr>
            {% for application in job.applications.all %}
            <br>
            <h4 style="color: blue">List of applicants:<h4>
            <h5>Applicant username: {{ application.created_by.username }} </h5>
            <h5>Application title: {{ application.job.title }}</h5>
            <h5>Applicanr full name: {{ application.fullName}}</h5>
            <h5>Applicant email: {{ application.email}}</h5>
            <h5>Applicant about themself: {{ application.introduceYourself}}</h5>
            <h5>Date added: {{ application.created_at }}</h5><hr>
            {% endfor %}              
    {% endif %}      
    </div>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

{% endblock %}
</html>
</body>