{% extends 'main.html'%}
<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Message send</title>
		<meta name="description" content="" />
	</head>
	<body>
		{% block content %} 
        {% include 'navbar.html' %}  
		<br>    
        <center><h1>Message send</h1>
		<br><br>
		<img src="https://cdn.pixabay.com/photo/2016/04/24/14/19/paper-1349664_960_720.png"></center>

		  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

		{% endblock %}
		
	</body>
</html>