asgiref==3.4.1
attrs==21.4.0
branca==0.4.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
coverage==6.4.1
cycler==0.11.0
distlib==0.3.4
Django==4.0.1
django-birthday==0.1.4
django-ckeditor==6.4.2
django-crispy-forms==1.14.0
django-filter==21.1
django-js-asset==2.0.0
djangorestframework==3.13.1
filelock==3.4.2
Fiona @ file:///C:/Users/Aga/Desktop/python_lab/Fiona-1.8.21-cp310-cp310-win_amd64.whl
folium==0.12.1.post1
fonttools==4.31.1
GDAL @ file:///C:/Users/Aga/Desktop/python_lab/GDAL-3.4.2-cp310-cp310-win_amd64.whl
geopandas==0.10.2
idna==3.3
Jinja2==3.0.3
kiwisolver==1.4.0
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib==3.5.1
munch==2.5.0
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.28
mysqlclient==2.1.0
newsapi-python==0.2.6
numpy==1.22.2
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
platformdirs==2.4.1
protobuf==3.19.4
psycopg2==2.9.3
pybind11==2.9.1
pyparsing==3.0.7
pyproj==3.3.0
python-dateutil==2.8.2
pytz==2021.3
reportlab==3.6.9
requests==2.27.1
Shapely==1.8.1.post1
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.8
virtualenv==20.13.0
virtualenvwrapper-win==1.2.7
